<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FullURL" value=""/>
		<add key="FullURLPublic" value=""/>
		<add key="TokenElma" value=""/>
		<add key ="TokenTelegram" value=""/>
		<add key="Login" value=""/>
		<add key="Password" value=""/>
		<add key="TypeUid" value=""/>
		<add key="IsPass" value="false"/>
	</appSettings>
</configuration>