<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Adress" value="127.0.0.1"/>
		<add key="Port" value="8000"/>
		<add key="TokenElma" value="65605731B74E8CE81B9F8F2B799B0C00E0D2FFD8ACFDA1E01FFC4A8C4409A8FF853679B82D47E0FCD7E3E8480FA41917A94982C095819F291D788F041D880CC2"/>
		<add key ="TokenBot" value="5440355360:AAEHIY2L0IaRF-VWPSkyhMvNrOqSjsEwm1s"/>
		<add key="Login" value="Sprav"/>
		<add key="Password" value="0000"/>
		<add key="TypeSprav" value="c5c12f67-3f57-45c2-aa70-02dfded87f77"/>
	</appSettings>
</configuration>