<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="Logs\Info.txt" />
		<target name="error" xsi:type="File" fileName="Logs\Error.txt" />
		<target name="debug" xsi:type="File" fileName="Logs\Debug.txt" />
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="error" />
		<logger name="*" minlevel ="Info" maxlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Debug" maxlevel ="Debug" writeTo="debug"/>
	
	</rules>
</nlog>